<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quizlett</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <header>
    <!-- Nav -->
    <section class="nav_logo">
      <h1>Quizlett</h1>
    </section>
    <section>
      <nav>
          <ul class="nav_links">
           <li><a href="#">Create Quiz</a></li>
           <li><a href="#">Start Quiz</a></li>
           <li><a href="#">My Quiz</a></li>
           <li><a href="#">Logout</a></li>
          </ul>
        </nav>
      </section>
    </span>
  </header>
  <body>
    <form>
      <table>
        <tr>
          <td>Quiz Subject</td>
          <input type="text" placeholder="Quiz Subject">
        </tr>
        <tr>
          <td>Quiz Description</td>
          <input type="text" placeholder="Quiz Subject">
        </tr>
        <tr>
          <td>Permissions</td>
          <input type="check" placeholder="Public">
          <input type="check" placeholder="Public">
        </tr>
        <button method="POST" action="create_quiz">Create Questions</button>
      </table>
    </form>
  </body>
</html>
