<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quizlett</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/createquestion.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <header>
    <!-- Nav -->
    <section class="nav_logo">
      <h1><a href="http://localhost:8080/">Quizlett</a></h1>
    </section>
    <section>
      <nav>
          <ul class="nav_links">
           <li><a href="http://localhost:8080/">Home</a></li>
           <li><a href="http://localhost:8080/createquiz">Create Quiz</a></li>
           <li><a href="#">Start Quiz</a></li>
           <li><a href="#">My Quiz</a></li>
           <li><a href="#">Logout</a></li>
          </ul>
        </nav>
      </section>
    </span>
  </header>
  <body>

    <form>
      <section>
        <label for="qname"><b>Question #1:</b></label><br>
        <input type="text" class="question_name" name="fname"><br>
        <label for="qanswer"><b>Answer:</b></label><br>
        <input type="text" class="question_name" name="lname">
        <button class="create_question">Submit</button>
      </section>
    </form>
  </body>
</html>
