<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quizlett</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <header>
    <!-- Nav -->
    <section class="nav_logo">
      <h1><a href="http://localhost:8080/">Quiz!</a></h1>
    </section>
    <section>
      <nav>
          <ul class="nav_links">
            <li><a href="http://localhost:8080/">Home</a></li>
            <li><a href="http://localhost:8080/createquiz">Create Quiz</a></li>
            <li><a href="http://localhost:8080/myquiz">My Quiz</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </nav>
      </section>
    </span>
  </header>
  <body>
   <div class="mainbody">
    <img class="main_image" src="https://media.istockphoto.com/vectors/quiz-in-comic-pop-art-style-quiz-brainy-game-word-vector-illustration-vector-id1186386668?k=20&m=1186386668&s=612x612&w=0&h=tUvqWXoNa2OsJ1YsvZwr3JKOggtzfr_KHuopigindPA=" alt="midterm_group_5">
      <article class="quiz_questions">
        <div>
          <p class="page_name"><b>Search Results:</b></p>
        <ul class="quiz_head">
          <li><b>Subject</b></li>
          <li><b>Description</b></li>
        </ul>
        </div>
        <div>
          <ul class="quiz_list">
            <% if (rows) { %>
              <% for (let row of rows) { %>
              <section class="quiz_body">
                <li><%= row.subject %></li>
                <li><%= row.description %></li>
                <button class="article_button" type="submit"><a href="http://localhost:8080/quizpage/<%= row.id %>">Start Quiz</a></button>
                <button id="clipboardlink" class="article_button" type="submit"><a href="http://localhost:8080/quizpage/?subject=Web%20Developement&description=Junior%20developer%20interview%20questions">Share Quiz</a></button>
              </section>
            <% } %>
            <% } %>
            </ul>
          </div>
      </article>
  </body>
</html>
