/* Question creation page */
/* Inports */
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

/* Body */
body {
  font-family: sans-serif;
}

/* Form */
form {
  border: solid 1px;
  border-color: rgb(206, 206, 206);
  width: 70%;
  margin-top: 215px;
  margin-bottom: 200px;
  border-radius: 3px;
}
section {
  margin: 20px;
  display: flex;
    flex-direction: column;
}
section button {
  margin: 1em 1em;
}
section input {
  margin: 1em 1em;
  outline: none;
  border-radius: 3px;
  border: solid 1px;
  border-color: rgb(206, 206, 206);
  height: 35px;
}
section input:hover {
  box-shadow: 1px 3px #d6d5d5;
  margin: 1em 1em;
  outline: none;
  border-radius: 3px;
  border: solid 1px;
  border-color: #8a8a8a;
  height: 35px;
}
label {
  font-size: 18px;
  padding-left: 15px;
}
.create_question {
  list-style: none;
  border: none;
  border-radius: 3px;
  color: black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 170px;
  height: 40px;
  background-color: #5dd8ebf3;
}
.create_question:hover {
  box-shadow: 1px 3px #d6d5d5;
  border: solid 1px #8a8a8a;
  border-radius: 3px;
  color: black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 170px;
  height: 40px;
  background-color: #5dd8ebf3;
}
#counter {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 10px;
  display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}
#counter .text {
  font-family: "Bangers", sans-serif;
  font-size: 25px;
}
#value {
  font-family: "Bangers", sans-serif;
  margin-left: 7px;
  font-size: 30px;
  border-color: solid 5px;
  color: #5dd8ebf3;
}
